.knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.read-tgl-button
{
    position: relative;
   /* top: 50%;*/
    width: 74px;
    height: 36px;
 /*   margin: -20px auto 0 auto; */
    overflow: hidden;
}
.read-tgl-button.r, .read-tgl-button.r .layer
{
    border-radius: 100px;
}
.interest-tgl-button
{
    position: relative;
    width: 74px;
    height: 36px;
    overflow: hidden;
}
.interest-tgl-button.r, .interest-tgl-button.r .layer
{
    border-radius: 100px;
}

.read-checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.interest-checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

.read-tgl-button .knobs:before
{
    content: 'NO';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: green;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.read-tgl-button .read-checkbox:checked + .knobs:before
{
    content: 'YES';
    left: 42px;
    background-color: gray;
}

.read-tgl-button .read-checkbox:checked ~ .layer
{
  /*background-color: #e0fbe1; */
}
.interest-tgl-button .knobs:before
{
    content: 'YES';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: green;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.interest-tgl-button .interest-checkbox:checked + .knobs:before
{
    content: 'NO';
    left: 42px;
    background-color: grey;
}

.interest-tgl-button .interest-checkbox:checked ~ .layer
{
   /* background-color: #c7c7c7; */
}

.read-tgl-button .knobs, .read-tgl-button .knobs:before, .read-tgl-button .layer, .interest-tgl-button .knobs, .interest-tgl-button .knobs:before, .interest-tgl-button .layer
{
    transition: 0.3s ease all;
}